*.bbl
*.nav
*.out
*.snm
*.toc
*.vrb
*.log
*.aux
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.brf
*.idx
*.ilg
*.ind
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.loa
*.load
*.maf
*.mtc
*.mtc0
*.nav
*.ps
*.dvi
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.run.xml

